.table-cont{
    width: 600px;
}

.add-player-input{
    @width: 200px;
    @height: 30px;
    max-width: @width !important;
    min-width: @width !important;        
    min-height: @height !important;
    div {
        max-width: @width !important;
        min-width: @width !important;        
        min-height: @height !important;
    }
}