@spacer: 4px;

:root {
    --main-color: rgb(185, 115, 53);
}

html {
    overflow: auto;
}

.z-1 {
    z-index: 1;
}

.p-abs {
    position: absolute;
}

.p-rel {
    position: relative;
}
.of-hidden {
    overflow: hidden;
}
.ofx-hidden {
    overflow-x: hidden;
}

.ofy-hidden {
    overflow-y: hidden;
}

.abs-center {
    position: absolute;
    left: 50%;
    top: 75%;
}

.max-height {
    height: 100% !important;
}

.pointer {
    cursor: pointer;
}

//-- Scrollbar
@scrollbar-color: #a6a9ad;
@scrollbar-size: @spacer * 1.75;
@scrollbar-background-color: fade(@scrollbar-color, 25%);
@scrollbar-thumb-background-color: fade(@scrollbar-color, 60%);
@scrollbar-thumb-hover-background-color: @scrollbar-color;

::-webkit-scrollbar {
    width: @scrollbar-size;
    height: @scrollbar-size;
    background-color: @scrollbar-background-color;
}

::-webkit-scrollbar-thumb {
    background-color: @scrollbar-thumb-background-color;
    border-radius: @scrollbar-size;
}

::-webkit-scrollbar-thumb:hover {
    background-color: @scrollbar-thumb-hover-background-color;
    border-radius: @scrollbar-size;
}

//-- Global Vuetify
.v-input-small {
    .v-input__slot {
        min-height: 40px !important;
        label {
            top: 12px !important;
        }
    }
}
